html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    background: #0a0405;
    overflow: hidden;
}
.container {
    overflow: hidden;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.loading {
    position: absolute;
    height: 0.1067rem; 
    width: 2rem;
    border: 0.0133rem solid #eee;
    background: linear-gradient(to top, #eee, #eee);
    background-size: 0 100%;
    transition: background-size .1s;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
}
.loading::before {
    content: attr(data-percent)'%';    
    position: absolute;
    left: 0; top: -1.5em;
    font-size: 0.16rem;
    color: #eee;
}
.loading-inner {
    position: absolute;
    left: 0; 
    top: 0; 
    bottom: 0;
    background: #eee;
    width: 0;
}
@keyframes guss {
    from {
        margin-left: 10rem;
    }
    to {
        margin-left: 0;
    }
}
@keyframes roll {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.roll {
    animation: roll 1s linear infinite;
}
// 滑屏背景
.h5container {
    width: 10rem;
    height: 100%;
    // max-height: 16.08rem;
    // height: 16.08rem;
    position: relative;
    // 猜你妹啊猜
    .guss {
        width: 100%;
        height: 100%;
        background: black;
        z-index: 998;
        position: absolute;
        top: 0;
        left: 0;
        .guss_word {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left:2.6rem;
            &.slide-in {
                span {
                    animation: guss 1s 1 forwards;
                }
            }
            span {
                margin-right: 0.15rem;
                color: #fff;
                // display: block;

                // font-size: 1rem;
                width: 0.747rem;

                img{
                    width: 0.747rem;
                }
            }
        } 
    }
    // 解锁之后
    .back1 {
        width: 100%;
        height: 100%;
        background: black;
        background-size: 10rem auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left:0;
        background: url('http://modian-static.modianli.com/little-job/img/gif/gif_2.gif');
        background-size: 10rem auto;
    }
    // back1中的语音播放完成之后
    .back2 {
        width: 100%;
        height: 100%;
        background: url('http://modian-static.modianli.com/little-job/img/gif/gif_3.gif');
        // background-position: 0 1.2rem;
        background-size: 10rem auto;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left:0;
        .moon {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 1;
            &>div {
                border: none;
                width:100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .btn_nor {
                display: block;
                background: url('http://modian-static.modianli.com/little-job/img/gif/moon_nor.png');
                background-size: 10rem auto;
            }
            .btn_active {
                display: none;
                background: url('http://modian-static.modianli.com/little-job/img/gif/moon_active.png');
                background-size: 10rem auto;
            }
            &.active {
                .btn_nor {
                    display: none;
                }
                .btn_active {
                    display: block;
                }
            }
        }
        .gifts {
            width: 7.4667rem;
            height: 7.4667rem;
            position: absolute;
            top: 7.4rem;
            left:-1rem;
            transform: rotate(90deg);
            z-index: 2;
            .single {
                width: 3.3333rem;
                padding-left: 0.6667rem;
                padding-top: 0.6667rem;
                padding-right: 0.6667rem;
                height: 2.6667rem;
                position: absolute;
                top:-1.3333rem;
                left: 50%;
                margin-left: -1.6667rem;
                transform-origin: 1.6667rem 5.0667rem;
                $xxh: 14deg !default;
                @for $i from 0 through 10 { 
                    &:nth-child(#{$i+1}) { 
                        transform: rotate(-32deg*$i);
                        img {
                            transform: rotate(-32deg*$i - $xxh);
                        }
                     }
                 }
                img {
                    width: 100%;
                }
            }
        }
        .showbox {
            position: absolute;
            padding: .5rem;
            left: 0;
            top: 1rem;
            width: 10rem;
            height: 4rem;
            img {
                width: 100%;
                display: none;
            }
        }
    }
    .word {
        position: absolute;
        top: 0;
        width:100%;
        height: 100%;
        opacity: 0;
        display:none;
        .lightme {
            // background: url('http://modian-static.modianli.com/little-job/img/btns/lightme_nor.png');
            position: absolute;
            z-index: 2;
            left:0.5rem;
            bottom:0;
            width: 3rem;
            height:2rem;
            img {
                max-width: 100%;
                display: block;
                /*position: absolute;
                top: 50%;
                left: 50%;
                width: 6.04rem;
                transform: translate(-50%,-50%);
                &.nor {
                    display: block;
                }*/
                /*&.active {
                    display: none;
                }*/
            }
            /*&:active {
                .active {
                    display: block;
                }
                .nor {
                    display: none;
                }
            }*/
        }
        .touchme {
            position: absolute;
            right: 0.5rem;
            bottom:0;
            z-index: 2;
            width: 3rem;
            height:2rem;
            img {
                max-width: 100%;
                display: block;
                /*position: absolute;
                top: 50%;
                left: 50%;
                width: 6.04rem;
                transform: translate(-50%,-50%);
                 &.nor {
                    display: block;
                }*/
                /*&.active {
                    display: none;
                }*/
            }
            /*&:active {
                .active {
                    display: block;
                }
                .nor {
                    display: none;
                }
            }*/
        }
        .enter {
            position: absolute;
            right:0.5333rem;
            top:0.4rem;
            width: 3.7067rem;
            z-index: 2;
            img {
                width:  100%;
            }
        }
    }
    .cover-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('http://modian-static.modianli.com/little-job/img/gif/gif_1.gif');
        background-size: 10rem auto;
        background-repeat: no-repeat;
        z-index: 3;
        .slide-box {
            width: 7.0933rem;
            height: 2rem;
            background: url('http://modian-static.modianli.com/little-job/img/gif/gif_btn.gif');
            background-size: 7.0933rem auto;
            background-position: center center;
            border-radius: 100px;
            position: absolute;
            bottom: 1.36rem;
            left:50%;
            transform: translateX(-50%);
            overflow: hidden;
            span {
                font-size: 0.64rem;
                color: #ffffff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-20%,-50%);
            }
            .slider-cover {
                width: 0;
                height: 200%;
                // background: #959073;
                // opacity: .2;
                background: #ffffff;
                position: absolute;
                left: 0;
                top: 0;
            }
            .slider {
                width: 1.8667rem;
                height: 1.7667rem;
                border-radius: 100%;
                position: absolute;
                background: url('http://modian-static.modianli.com/little-job/img/phone.png');
                background-repeat: no-repeat;
                background-size: 1.8667rem auto;
                top:50%;
                left: 0.4rem;
                overflow: hidden;
                transform: translateY(-50%)
            }
        }
    }
}